html {
    height: 100%;
    box-sizing: border-box;
}

nav,
.page-footer {
    background-color: #363A42;
    color: #fff;
}

main {
    background-color: #f2f5f8;
}

#about {
    padding-top: 15px;
}

#customer-advocacy-idol {
    padding-bottom: 15px;
}

h4 {
    font-family: 'Lora', serif;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

.so-cool {
    font-weight: 600;
    text-transform: uppercase;
}

.page-footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.footer-links li {
    display: inline-flex !important;
    font-weight: normal;
    padding-right: 3px;
    padding-top: 3px;
}

i {
    color: #fff;
}