nav,
.page-footer {
    background-color: #363A42;
    color: #fff;
}

main {
    background-color: #f2f5f8;
}

#about {
    padding-top: 15px;
}

#customer-advocacy-idol {
    padding-bottom: 15px;
}

h4 {
    font-family: 'Lora', serif;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

i {
    color: #fff;
    display: inline-flex !important;
}